//
//  FOM-Prozedurale Programmierung
//
//  Created by Florian Marsch on 20.03.18.
//  Copyright © 2018 Florian Marsch. All rights reserved.
//





 
 1 Byte = 8 bit

 128  64  32  16   8   4   2   1 
 2^7 2^6 2^5 2^4 2^3 2^2 2^1 2^0

   0   0   0   0   0   1   0   1  Binary
                       4       1  Decimal (4+1=5)
 
 
